html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  border: 0;
  font: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}
blockquote::before, blockquote::after, q::before, q::after {
  content: "";
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  background-color: #0b090a;
  color: #fcfcfc;
  font-family: "Urbanist", sans-serif;
}

.layout {
  position: relative;
}

.wrapper {
  max-width: 90rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

svg {
  max-width: 0.875rem;
  height: 100%;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font: inherit;
  outline: none;
}

.btn {
  width: 10rem;
  padding: 0.625rem 0;
  font-size: 0.75rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.625rem;
}
.btn span {
  display: block;
}
.btn span::first-letter {
  text-transform: capitalize;
}
.btn.primary {
  background-color: #e1c83f;
  color: #060605;
}
.btn.alt {
  background-color: #060605;
  color: #e1c83f;
}
.btn svg {
  max-width: 1.125rem;
}
.btn svg path {
  stroke-width: 0.1875rem;
}
.btn.icon {
  width: 1.875rem;
}

.layout.auth-area {
  background-color: #060605;
}
@media screen and (max-width: 1200px) {
  .layout.auth-area .wrapper {
    display: contents;
  }
}
.layout.auth-area .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.layout.auth-area .social-links {
  display: flex;
  align-items: center;
  justify-content: initial;
  gap: 0.375rem;
}
.layout.auth-area .social-links .link-item a {
  display: block;
  width: 1.875rem;
  height: 1.875rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.layout.auth-area .social-links .link-item a:hover svg {
  fill: #e1c83f;
  opacity: 1;
}
.layout.auth-area .social-links .link-item svg {
  fill: #fcfcfc;
  opacity: 0.3;
  transition: 150ms;
}
.layout.auth-area .auth-links {
  display: flex;
}

.layout.header .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.875rem 0;
}
.layout.header .row.row__one {
  padding: 1.125rem 0;
}
.layout.header .row.row__two {
  border-top: 1px solid rgba(252, 252, 252, 0.1);
  border-bottom: 1px solid rgba(252, 252, 252, 0.1);
  justify-content: center;
}
.layout.header svg {
  fill: #e1c83f;
}
.layout.header .search {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.layout.header .search input {
  background: none;
  border: none;
  outline: none;
  color: #fcfcfc;
  width: 12.5rem;
  padding-left: 1.25rem;
}
.layout.header .search input::-moz-placeholder {
  opacity: 0.5;
}
.layout.header .search input:-ms-input-placeholder {
  opacity: 0.5;
}
.layout.header .search input::placeholder {
  opacity: 0.5;
}
.layout.header .featured-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.25rem;
}
.layout.header .featured-menu__menu-item a {
  display: block;
  font-size: 0.875rem;
  font-weight: 500;
  text-transform: capitalize;
}
.layout.header .featured-menu__menu-item.logo a {
  font-size: 3.4375rem;
  font-family: "Tiro Gurmukhi", serif;
  display: flex;
  align-items: center;
  justify-content: initial;
  gap: 0.625rem;
  padding: 0 0.625rem;
}
.layout.header .featured-menu__menu-item.logo a span:first-child {
  font-size: 1.75rem;
}
.layout.header .featured-menu__menu-item.logo a span:last-child {
  letter-spacing: -1px;
}
.layout.header .featured-menu__menu-item:not(.logo) a {
  transition: 250ms ease-in-out;
}
.layout.header .featured-menu__menu-item:not(.logo) a:hover {
  color: #e1c83f;
}
.layout.header .app-btn-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.1875rem;
}
.layout.header .app-btn-group a {
  color: #e1c83f;
  font-size: 0.875rem;
}
.layout.header .main-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
}
.layout.header .main-menu__menu-item a {
  opacity: 0.5;
  font-size: 0.8125rem;
  font-weight: 500;
  text-transform: capitalize;
  transition: 150ms ease-in-out;
}
.layout.header .main-menu__menu-item a:hover {
  opacity: 1;
}/*# sourceMappingURL=main.css.map */