.layout.auth-area {
    background-color: $color-1-darker;

    .wrapper {
        @media screen and (max-width: $desktop) {
            // When the viewport is smaller than desktop screens,
            // we need to stretch the wrapper end-to-end.
            display: contents;
        }
    }

    .row {
        @include flex(flex, center, space-between);
    }


    .social-links {
        @include flex(flex, center, initial);
        gap: rem-calc(6);

        .link-item {
            a {
                display: block;
                width: rem-calc(30);
                height: rem-calc(30);
                @include flex(flex, center, flex-start);

                &:hover {
                    svg {
                        fill: $color-3;
                        opacity: 1;
                    }
                }
            }

            svg {
                fill: $color-4;
                opacity: 0.3;
                transition: 150ms;
            }
        }
    }

    .auth-links {
        display: flex;
    }
}