// Colors
$color-1-dark: #0b090a;
$color-1-darker: #060605;
$color-3: #e1c83f;
$color-4: #fcfcfc;

// Font Family Declarations
$font-tiro: 'Tiro Gurmukhi', serif;
$font-urbanist: 'Urbanist', sans-serif;